body {
  background-image: url('../images/abstract_bg.webp');
	background-position: top;
	background-repeat: repeat-x;
	background-attachment: fixed;
  background-color: black;
  background-size: cover;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

p, li {
  line-height: 1.6em; /*I find the default HTML line-height tends to be a bit claustrophobic for main text*/
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.right {
  float: right;
  margin-left: 1em;
}
.left {
  float: left;
  margin-right: 1em;
}
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .small {
    max-width: 60%;
    height: auto;
  }
  
  .side-by-side {
    display: flex;
    gap: 24px !important;
    flex-direction: row !important;
    justify-content: space-between !important;
  }
}
.caption {
  margin-top: 0;
  font-size: 0.9em;
  font-style: italic;
}

a {
  color: #6B76CE;
}

h1, h2, h3, h4, h5 {
  color: #C9CEFF;
}

hr {
  border-width: 2px 0 0 0;
  border-style: dashed;
  border-color: #a3bdc4; 
}

/*#CONTAINER is the rectangle that has contains everything but the background!*/
#container {
  margin: 3em auto;
  width: 90%;
	max-width: 700px;
	background-color: black;
  color: #a3bdc4; 
}

#content {
  padding: 10px 5% 20px 5%;
}

.side-by-side {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .side-by-side img {
    width: 200px;
  }
}


/*HEADER STYLE*/
#header {
  background-color: black;
  padding: 0 5%;
}
#header ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin-bottom: 1em;
  margin-top: 1em;
}
#header li {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 0.6em;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
}

/*POST LIST STYLE*/
#postlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}
#recentpostlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}
.moreposts {
  font-size: 0.8em;
  margin-top: 0.2em;
}

/*NEXT AND PREVIOUS LINKS STYLE*/
#nextprev {
  text-align: center;
  margin-top: 1.4em;
}

.giscus {
  margin-top: 2rem;
}

/*DISQUS STYLE*/
#disqus_thread {
  margin-top: 1.6em;
}

/*FOOTER STYLE*/
#footer {
  font-size: 0.8em;
  padding: 0 5% 1em 5%;
}

#visitor-counter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
  margin-top: -1em;
}