<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{website.title}}</title>

        <link rel="stylesheet" href="/post.css" />
    </head>
    <body>
        <a href="/{{feeds.html}}">{{website.title}}</a>

        {{#post}}
        <section>
            <h1>{{title}}</h1>
            
            <div class="centered-row">
                <p style="opacity: 60%">{{description}}</p>
                {{#created}}
                <p style="opacity: 70%; font-size: 14px;">
                    {{day}}/{{month}}/{{year}}
                </p>
                {{/created}}
            </div>
        </section>

        <section class="post-body">{{{body}}}</section>

        <hr />

        <link rel="stylesheet" href="https://townsquare.cauenapier.com/widget.css" />
        <div id="townsquare-root"></div>
        <script type="module">
            import { mountTownSquare } from "https://townsquare.cauenapier.com/townsquare.mjs";

            mountTownSquare(document.getElementById("townsquare-root"), {
                serverOrigin: "https://townsquare.cauenapier.com",
                siteKey: "site_OpsIjG6sQARCVhpV"
            });
        </script>

        <!-- TODO: add giscus here -->
        {{/post}}
    </body>
</html>
